Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

.lintstagedrc.json:

{
  "package.json": ["prettier-package-json --write"],
  "*.{js,ts,tsx}": ["eslint --fix", "stylelint --fix", "tsc --noEmit"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"]
}

.lintstagedrc.yml:

'package.json':
  - prettier-package-json --write
'*.{js,ts,tsx}':
  - eslint --fix
'*.{js,ts,tsx,css,scss}':
  - stylelint --fix
'*.json':
  - prettier --write
'*.yml':
  - prettier --write
'*.md':
  - prettier --write
'*':
  - secretlint

feat: fix preview mode error 500 by size-limit
  src/pages/api/preview.ts
  src/pages/index.tsx
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: update preview mode navigator
  src/pages/post/[slug].tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: add vercel config for build env
  vercel.json
Due: prettier --write, secretlint

chore: fix draft preview endpoint
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: remove vercel config
  vercel.json
Due: prettier --write, secretlint

chore: remove eslint/stylelint use only prettier
  .prettierignore
  package-lock.json
  package.json
  public/site.webmanifest
Due: prettier-package-json --write, prettier --write, secretlint

chore: vscode settings update for prettier
  .vscode/settings.json
Due: prettier --write, secretlint

chore: remove unused deps
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix: gha lint command update to prettier
  .github/workflows/check-pull-request.yml
  .github/workflows/healthcheck-master.yml
  .github/workflows/remove-stale-deployment.yml
Due: prettier --write, secretlint

chore: add auto-approve action to automerge dependabot PR
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: split preview-mode component
  src/components/preview-mode.tsx
  src/pages/post/[slug].tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: remove vscode defaultFormatter prettier due to WSL
  .vscode/settings.json
Due: prettier --write, secretlint

chore: disable formatOnSave to hotfix vscode inoperable
  .vscode/settings.json
Due: prettier --write, secretlint

chore: update vscode settings follow another repo config
  .vscode/settings.json
Due: prettier --write, secretlint

chore: remove serverless target since vercel use it default
  next.config.js
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: remove prettier-plugin-sorted to resolve stacking vscode formatOnSave
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: move styled-jsx 404 page styling
  src/pages/404.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: add goober to css-in-js styling
  package-lock.json
  package.json
  src/pages/404.tsx
  src/pages/_app.tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: reduce .css and separate to small component
  src/components/post-list.tsx
  src/components/published-or-updated.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: separate motto and totem component
  src/components/my-motto.tsx
  src/components/my-totem.tsx
  src/pages/index.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: replace css to css-in-js with separate component
  src/components/atomic/external-link.tsx
  src/components/atomic/icon.tsx
  src/components/atomic/published-or-updated.tsx
  src/components/element/badge.tsx
  src/components/element/list-column.tsx
  src/components/element/list-row.tsx
  src/components/element/preview-mode.tsx
  src/components/element/section.tsx
  src/components/element/sentence.tsx
  src/components/icon-facebook.tsx
  src/components/icon-github.tsx
  src/components/icon-linkedin.tsx
  src/components/icon-twitter.tsx
  src/components/link-extern.tsx
  src/components/module/like.tsx
  src/components/module/motto.tsx
  src/components/module/posts.tsx
  src/components/module/profile.tsx
  src/components/module/social.tsx
  src/components/module/study.tsx
  src/components/module/totem.tsx
  src/components/preview-mode.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: revert css-in-js change to atomic-css pattern
  package-lock.json
  package.json
  src/components/atomic/external-link.tsx
  src/components/atomic/published-or-updated.tsx
  src/components/badge.tsx
  src/components/element/badge.tsx
  src/components/element/list-column.tsx
  src/components/element/list-row.tsx
  src/components/element/preview-mode.tsx
  src/components/element/section.tsx
  src/components/element/sentence.tsx
  src/components/icon.tsx
  src/components/like.tsx
  src/components/module/like.tsx
  src/components/module/motto.tsx
  src/components/module/posts.tsx
  src/components/module/profile.tsx
  src/components/module/study.tsx
  src/components/module/totem.tsx
  src/components/motto.tsx
  src/components/posts.tsx
  src/components/preview.tsx
  src/components/profile.tsx
  src/components/social.tsx
  src/components/study.tsx
  src/components/totem.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/styles/atomic.css
  src/styles/reset.css
  src/styles/style.css
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: apply token to run vercel remove
  .github/workflows/remove-stale-deployment.yml
Due: prettier --write, secretlint

chore: remove useless env-expand quote
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: modify gap of list row item
  src/components/badge.tsx
  src/components/profile.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: update README
  README.md
Due: prettier --write, secretlint

chore: add automerge action to test
  .github/workflows/automerge-dependabot.yml
Due: prettier --write, secretlint

chore: fix upload artifact job redirect
  .github/workflows/automerge-dependabot.yml
Due: prettier --write, secretlint

ci: add auto-merge action
  .github/workflows/automerge-dependabot.yml
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: replace slug to id since microCMS id field use as slug
  src/components/posts.tsx
  src/components/preview.tsx
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

fix: use preview-mode data to preview render
  src/pages/api/preview.ts
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: modify content type remove slug replaced by id
  next-env.d.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: preview redirect path fix
  src/pages/api/preview.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

style: update post title line-height for line-wrap
  src/pages/post/[slug].tsx
  src/styles/atomic.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

ci: add size monitoring action
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: null return when fallback
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: atomic css is not silver bullet
  src/components/badge.tsx
  src/components/like.tsx
  src/components/motto.tsx
  src/components/posts.tsx
  src/components/preview.tsx
  src/components/profile.tsx
  src/components/social.tsx
  src/components/study.tsx
  src/components/totem.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/post/[slug].tsx
  src/styles/atomic.css
  src/styles/reset.css
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

ci: modify workflows
  .github/workflows/automerge-dependabot.yml
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: use css variables
  src/styles/style.css
Due: stylelint --fix, secretlint

chore: fix list row wrap
  src/styles/style.css
Due: stylelint --fix, secretlint
