Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

.lintstagedrc.json:

{
  "package.json": ["prettier-package-json --write"],
  "*.{js,ts,tsx}": ["eslint --fix", "stylelint --fix", "tsc --noEmit"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"]
}

.lintstagedrc.yml:

'package.json':
  - prettier-package-json --write
'*.{js,ts,tsx}':
  - eslint --fix
'*.{js,ts,tsx,css,scss}':
  - stylelint --fix
'*.json':
  - prettier --write
'*.yml':
  - prettier --write
'*.md':
  - prettier --write
'*':
  - secretlint

chore: modify codeActionsOnSave
  .vscode/settings.json
Due: prettier --write, secretlint

chore: remove useless pkg
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix: format
  static/index.html
Due: secretlint

chore: clean up package.json
  package.json
  prettier.config.cjs
Due: prettier-package-json --write, prettier --write, secretlint

ci: modify renovate config
  .github/renovate.json
Due: prettier --write, secretlint

ci: remove shared settings
  .github/renovate.json
Due: prettier --write, secretlint

chore: ymkz.co to ymkz.dev
  README.md
  static/index.html
  static/site.webmanifest
Due: prettier --write, secretlint

chore: modify vscode settings
  .vscode/settings.json
Due: prettier --write, secretlint

chore: remove facebook link
  static/index.html
Due: secretlint

chore: change icon twitter to x
  static/index.html
Due: secretlint

chore: cleanup dependencies
  .node-version
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: change public dir
  .gitignore
  .prettierignore
  .vscode/settings.json
  package.json
  public/apple-touch-icon.png
  public/avatar.png
  public/favicon.ico
  public/icon192.png
  public/icon512.png
  public/index.html
  public/robots.txt
  public/site.webmanifest
  public/style.css
Due: prettier-package-json --write, stylelint --fix, prettier --write, secretlint

feat: add bluesky icon link
  public/index.html
Due: secretlint

chore: update vscode settings
  .vscode/settings.json
Due: prettier --write, secretlint

feat: use pnpm with corepack
  .github/workflows/ci.yml
  .node-version
  .prettierignore
  .vscode/settings.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
Due: prettier-package-json --write, prettier --write, secretlint

ci: use package.json for node-version
  .github/workflows/ci.yml
Due: prettier --write, secretlint

ci: move corepack enable after setup-node
  .github/workflows/ci.yml
Due: prettier --write, secretlint

Revert "ci: move corepack enable after setup-node"
  .github/workflows/ci.yml
Due: prettier --write, secretlint

chore: loosen node engine
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: use biome as default formatter
  .prettierignore
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  public/style.css
Due: prettier-package-json --write, stylelint --fix, prettier --write, secretlint

chore: improve default font-family
  public/style.css
Due: stylelint --fix, secretlint

chore: remove bluesky social link
  public/index.html
Due: secretlint

chore: update current job
  public/index.html
Due: secretlint

feat: add hidden content
  public/index.html
  public/style.css
Due: stylelint --fix, secretlint

chore: modify deprecated meta
  public/index.html
Due: secretlint

chore: remove x link
  public/index.html
Due: secretlint

chore: remove packageManager in package.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix: pnpm action
  .github/workflows/ci.yml
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: update vscode settings
  .vscode/settings.json
  public/index.html
Due: prettier --write, secretlint

chore: cleanup lockfile
  .vscode/settings.json
  biome.jsonc
  package.json
  pnpm-lock.yaml
  public/index.html
  public/style.css
Due: prettier-package-json --write, stylelint --fix, prettier --write, secretlint

ci: fix github-actions with pnpm
  .github/workflows/ci.yml
Due: prettier --write, secretlint

feat: implement on workers as v3
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
  wrangler.jsonc
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

feat: implement on workers as v3 (#1360)
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
  wrangler.jsonc
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: 不要な実装を削除
  src/index.ts
  wrangler.jsonc
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: 不要なtsconfigの設定を削除
  tsconfig.json
Due: prettier --write, secretlint

update dependencies
  .github/workflows/ci.yml
  .gitignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  public/style.css
Due: prettier-package-json --write, stylelint --fix, prettier --write, secretlint

cleanup lockfile
  pnpm-lock.yaml
Due: secretlint

Update settings.json
  .vscode/settings.json
Due: prettier --write, secretlint

内容更新
  public/avatar.webp
  public/index.html
Due: secretlint

style: refresh homepage design with a new color palette, updated fonts, and revised social links.
  public/index.html
  public/style.css
Due: stylelint --fix, secretlint
