Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore(deps): update node.js to v12.16.1
  .node-version
Due: secretlint

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to ^0.10.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency secretlint to ^0.10.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to v1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency secretlint to v1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): lock file maintenance
  yarn.lock
Due: secretlint

chore(deps): update dependency @ymkz/prettier-config to ^1.1.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @ymkz/stylelint-config to ^1.1.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency lint-staged to ^10.0.9
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency webpack to ^4.42.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: add document title in _app globally
  src/pages/_app.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: add onchange for prettier generated .d.ts
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: add master description
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

fix: observe d.ts generate from tcm
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: modify background image position
  src/styles/index.css
Due: stylelint --fix, secretlint

fix: mobile background-image optimize
  public/static/background-mobile.jpg
  public/static/background.jpg
  src/styles/index.css
Due: stylelint --fix, secretlint

chore(ci): modify cron comment
  .github/workflows/deploy-production.yml
Due: prettier --write, secretlint

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to ^1.0.4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency secretlint to ^1.0.4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency lint-staged to ^10.1.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/node to ^13.9.8
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/react to ^16.9.31
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependency next to ^9.3.4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: (any of: *.{js,ts,tsx}) or (any of: *.tsx)
  stylelint --fix: (any of: *.{js,ts,tsx}) or (any of: *.css)
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
  secretlint: any of: *
