Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

.lintstagedrc.json:

{
  "package.json": ["prettier-package-json --write"],
  "*.{js,ts,tsx}": ["eslint --fix", "stylelint --fix", "tsc --noEmit"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"]
}

.lintstagedrc.yml:

'package.json':
  - prettier-package-json --write
'*.{js,ts,tsx}':
  - eslint --fix
'*.{js,ts,tsx,css,scss}':
  - stylelint --fix
'*.json':
  - prettier --write
'*.yml':
  - prettier --write
'*.md':
  - prettier --write
'*':
  - secretlint

ci: refactor with fastify automerge
  .github/workflows/healthcheck.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

ci: modify some job
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

ci: fix on field
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

ci: fix needs job name
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

chore: add post-action npm install hooks
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/post-rebase
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: post-action git hooks
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/post-rebase
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: update node and npm version
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: fix relative path
  src/index.tsx
  tsconfig.json
Due: eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

feat: add eslint
  .eslintignore
  .eslintrc
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/icon.tsx
  src/index.tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: remove useless dev-deps
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: refresh lockfile
  package-lock.json
Due: prettier --write, secretlint

chore: re-add need types
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

ci: switch to pnpm package manager
  .eslintignore
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .prettierignore
  .vscode/settings.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write, secretlint

ci: add renovate bot
  .github/dependabot.yml
  .github/renovate.json
Due: prettier --write, secretlint

chore: add pre-commit check with tsc and eslint
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: run by pnpm
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

ci: fix specify pnpm action version
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

chore: remove dependabot
  .github/dependabot.yml
Due: prettier --write, secretlint

chore(deps): update dependency lint-staged to v11.1.2
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update actions/setup-node action to v2.4.0
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

chore(deps): update devdependencies (non-major) to v4.29.1
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update fastify/github-action-merge-dependabot action to v2.4.0
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

fix(deps): update dependency solid-js to v1.1.0
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependencies (non-major)
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update devdependencies (non-major)
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency vite-plugin-solid to v2.0.3
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write, prettier --write, secretlint

chore: add node-version fot cf-pages
  .node-version
Due: secretlint

chore: modify robots.txt to valid
  static/robots.txt
Due: secretlint

chore: rename global d.ts
  src/app.d.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: use landmark element for lighthouse a11y
  src/routes/index.svelte
Due: secretlint

chore: fix pre-commit hook to lint svelte
  lefthook.yml
Due: prettier --write, secretlint

chore: add css format on pre-commit
  lefthook.yml
Due: prettier --write, secretlint

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint
