Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

style: use block link for anchor over badge
  src/components/modules/social.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: rename eyecatch component
  src/components/elements/image.tsx
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: reduce font size by text parameter
  src/pages/_document.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

style: load font from local
  src/fonts/caveat-700.woff2
  src/pages/_document.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: add preview mode support
  src/components/elements/preview.tsx
  src/helpers/post.ts
  src/pages/api/clear.ts
  src/pages/api/preview.ts
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: modify preview query parameter
  src/pages/api/preview.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: modify README
  README.md
Due: prettier --write, secretlint

refactor: icon components
  src/components/icon.tsx
  src/components/icons.tsx
  src/components/sign.tsx
  src/components/social.tsx
  src/styles/components/social.module.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: page module css
  src/pages/index.tsx
  src/styles/pages/index.module.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: add README
  README.md
Due: prettier --write, secretlint

feat: enable experimental fontOptimize option
  next.config.js
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: replace gap to margin due to not support gap at safari
  src/styles/components/profile.module.css
  src/styles/components/social.module.css
Due: stylelint --fix, secretlint

feat: add counter tracking
  src/pages/_document.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

Revert "feat: add counter tracking"
  src/pages/_document.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: fix npm version 7
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

feat: add git commit hooks
  .githook/pre-commit
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

ci: fix branch name to use default branch by manual
  .github/workflows/healthcheck.yml
Due: prettier --write, secretlint

chore: fix ci error
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: use webpack4 feature
  next.config.js
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: set vscode rulers settings same as prettier
  .vscode/settings.json
Due: prettier --write, secretlint

fix: useless gitignore
  .gitignore
Due: secretlint

chore: update node and npm version
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

feat: upgrade next10-2
  next.config.js
  package-lock.json
  package.json
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

style: smaller font
  .githooks/pre-commit
  package-lock.json
  package.json
  src/components/motto.tsx
  src/components/text.tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

style: modify selection background color
  src/components/global-style.tsx
  src/constants/color.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: pin node and npm version
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: add meta description tag
  index.html
Due: secretlint

chore: add avatar image alt attr
  src/components/avatar.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: modify a11y lighthouse point
  src/components/motto.tsx
  src/components/social.tsx
  src/components/text.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: use webp optimized image
  src/components/avatar.tsx
  src/images/avatar.jpg
  src/images/avatar.webp
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: replace react to solid
  package-lock.json
  package.json
  src/components/avatar.tsx
  src/components/global-style.tsx
  src/components/icon.tsx
  src/components/motto.tsx
  src/components/social.tsx
  src/components/text.tsx
  src/env.d.ts
  src/index.tsx
  src/pages/index.tsx
  tsconfig.json
  vite.config.ts
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: add missing types
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

feat: replace react to solid (#964)
  package-lock.json
  package.json
  src/components/avatar.tsx
  src/components/global-style.tsx
  src/components/icon.tsx
  src/components/motto.tsx
  src/components/social.tsx
  src/components/text.tsx
  src/env.d.ts
  src/index.tsx
  src/pages/index.tsx
  tsconfig.json
  vite.config.ts
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

feat: use cache with github actions
  .github/workflows/healthcheck.yml
  .github/workflows/pullrequest.yml
Due: prettier --write, secretlint

chore: pin deps version and refresh
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: use absolute paths
  src/components/avatar.tsx
  src/components/global-style.tsx
  src/components/motto.tsx
  src/components/social.tsx
  src/components/text.tsx
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: upgrade deps vite to 2.3.8
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: rename action job name
  .github/workflows/healthcheck.yml
  .github/workflows/pullrequest.yml
Due: prettier --write, secretlint

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: (any of: *.{js,ts,tsx}) or (any of: *.{js,ts,tsx,css,scss})
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
  secretlint: any of: *
