Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore(deps): clean lock-file
  package-lock.json
Due: prettier --write, secretlint

chore: upgrade pin node version
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): pin light-date version
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

feat: create endpoint by urlcat
  package-lock.json
  package.json
  src/pages/post/[slug].tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: cleanup configs
  .gitignore
  .prettierignore
  .vscode/settings.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: re-replace date module with dayjs
  package-lock.json
  package.json
  src/utils/date.ts
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: no use @master for default branch as main
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: only need lint, remove typecheck step
  .github/workflows/check-pull-request.yml
  .github/workflows/healthcheck-master.yml
Due: prettier --write, secretlint

chore: replace react-markdown to markdown-to-jsx
  package-lock.json
  package.json
  src/pages/post/[slug].tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: use absolute path import
  src/components/posts.tsx
  src/components/social.tsx
  src/components/totem.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: remove import react
  src/components/badge.tsx
  src/components/icon.tsx
  src/components/like.tsx
  src/components/motto.tsx
  src/components/posts.tsx
  src/components/preview.tsx
  src/components/profile.tsx
  src/components/social.tsx
  src/components/study.tsx
  src/components/totem.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/_error.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: rename workflows
  .github/workflows/healthcheck.yml
  .github/workflows/pull-request.yml
  README.md
Due: prettier --write, secretlint

style: apply centering body
  src/styles/style.css
Due: stylelint --fix, secretlint

chore: modify about my work
  src/components/profile.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: add lighthouse audit with pull-request
  .github/workflows/lighthouse.yml
Due: prettier --write, secretlint

feat: add secure header config
  next.config.js
  package-lock.json
  package.json
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

feat: use styled-jsx to split components
  src/components/badge.tsx
  src/components/elements/icon.tsx
  src/components/elements/internal-link.tsx
  src/components/elements/list-column.tsx
  src/components/elements/list-row-badge.tsx
  src/components/elements/list-row.tsx
  src/components/elements/paragraph.tsx
  src/components/elements/section.tsx
  src/components/like.tsx
  src/components/modules/like.tsx
  src/components/modules/motto.tsx
  src/components/modules/preview.tsx
  src/components/modules/profile.tsx
  src/components/modules/social.tsx
  src/components/modules/study.tsx
  src/components/modules/totem.tsx
  src/components/motto.tsx
  src/components/posts.tsx
  src/components/preview.tsx
  src/components/profile.tsx
  src/components/social.tsx
  src/components/study.tsx
  src/components/totem.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/pages/post/index.tsx
  src/styles/style.css
  src/types/index.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: fix merge-me-action versioning
  .github/dependabot.yml
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

chore: remove failed lighthouse workflow
  .github/workflows/lighthouse.yml
Due: prettier --write, secretlint

style: use bold font-weight in internal-link
  src/components/elements/internal-link.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: add link to root from posts
  src/pages/post/index.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

style: replace all css with styled-jsx
  src/pages/_error.tsx
  src/pages/post/[slug].tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: add link to each page
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/pages/post/index.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: add eyecatch layout
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

style: modify layout shift
  src/pages/post/[slug].tsx
  src/styles/reset.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: add merge-me-action preset
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

feat(deps): upgrade nextjs@10 and react to latest
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: add emmet exclude
  .vscode/settings.json
Due: prettier --write, secretlint

chore: more simplify next.config.js
  next.config.js
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: replace markdown parser with snarkdown and interweave
  package-lock.json
  package.json
  src/pages/_document.tsx
  src/pages/post/[slug].tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: modify some config files
  .env.sample
  tsconfig.json
Due: prettier --write, secretlint

chore: use function style with infer-type
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_error.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/pages/post/index.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

fix: build error but need investigate in [slug] render
  src/helpers/post.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: add title per page w/ next-seo
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/pages/post/index.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: add public resources
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/robots.txt
  public/safari-pinned-tab.svg
  public/site.webmanifest
  src/pages/_document.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

style: modify inline link by hover
  src/styles/style.css
Due: stylelint --fix, secretlint

style: modify mobile motto font size
  src/styles/style.css
Due: stylelint --fix, secretlint

feat: use next/image for image optimization
  next.config.js
  src/components/elements/image.tsx
  src/pages/post/[slug].tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: fix action name
  .github/workflows/pullrequest.yml
  README.md
Due: prettier --write, secretlint

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: (any of: *.{js,ts,tsx}) or (any of: *.{js,ts,tsx,css,scss})
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
  secretlint: any of: *
