Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

.lintstagedrc.json:

{
  "package.json": ["prettier-package-json --write"],
  "*.{js,ts,tsx}": ["eslint --fix", "stylelint --fix", "tsc --noEmit"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"]
}

.lintstagedrc.yml:

'package.json':
  - prettier-package-json --write
'*.{js,ts,tsx}':
  - eslint --fix
'*.{js,ts,tsx,css,scss}':
  - stylelint --fix
'*.json':
  - prettier --write
'*.yml':
  - prettier --write
'*.md':
  - prettier --write
'*':
  - secretlint

style: modify font and preview button
  src/styles/style.css
Due: stylelint --fix, secretlint

feat: use custom error page
  src/pages/404.tsx
  src/pages/_error.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

ci: remove size check action
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

ci: update auto-merge job in check-pull-request
  .github/workflows/automerge-dependabot.yml
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

style: add dark-mode support
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/styles/style.css
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: document head more simplify
  src/pages/_document.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: deps audit fix
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

ci: update auto-merge job
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

style: use euclid square font
  src/components/like.tsx
  src/fonts/EuclidSquare-Bold.woff2
  src/fonts/EuclidSquare-Light.woff2
  src/fonts/EuclidSquare-Medium.woff2
  src/fonts/EuclidSquare-Regular.woff2
  src/fonts/EuclidSquare-SemiBold.woff2
  src/pages/_document.tsx
  src/styles/reset.css
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: update favicon
  README.md
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-192.png
  public/favicon-32x32.png
  public/favicon-512.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  src/components/icon.tsx
  src/components/preview.tsx
  src/pages/_document.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

style: add min-height for page view
  src/styles/style.css
Due: stylelint --fix, secretlint

style: fix row badge margin and totem
  src/components/totem.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

ci: add labeler for automerge label
  .github/labeler.yml
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: update my profile
  src/components/profile.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

ci: replace auto-merge action
  .github/labeler.yml
  .github/workflows/automerge-dependabot.yml
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: modify static 404
  src/pages/404.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore(deps): bump dayjs from 1.8.29 to 1.8.30
  package-lock.json
  package.json
  src/utils/date.ts
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: run typecheck hook with lint-staged
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

ci: fix automerge dependabot job
  .github/workflows/automerge-dependabot.yml
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

ci: fix merge-method and actor name
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

ci: run if actor is dependabot
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore: update github icon
  src/components/icon.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

style: update post page font weight
  src/styles/style.css
Due: stylelint --fix, secretlint

style: add margin-top to post h1
  src/styles/style.css
Due: stylelint --fix, secretlint

fix: page body margin-top is needed
  src/styles/style.css
Due: stylelint --fix, secretlint

chore(deps): bump next from 9.4.4 to 9.5.0
  next.config.js
  package-lock.json
  package.json
  src/pages/index.tsx
  src/pages/post/[slug].tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

ci: remove npm-install action use original npm ci
  .github/workflows/check-pull-request.yml
  .github/workflows/healthcheck-master.yml
Due: prettier --write, secretlint

ci: remove stale-deployment action
  .github/workflows/remove-stale-deployment.yml
Due: prettier --write, secretlint

chore: remove unused badge from readme
  README.md
Due: prettier --write, secretlint

chore: remove dynamic theming
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/styles/style.css
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: deps audit fix
  package-lock.json
Due: prettier --write, secretlint

chore: cleanup tsconfig
  tsconfig.json
Due: prettier --write, secretlint

chore: import sorted with prettier
  package-lock.json
  package.json
  src/components/social.tsx
  src/pages/404.tsx
  src/pages/_error.tsx
  src/pages/post/[slug].tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: remove typecheck when commit
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: typecheck strict enable
  tsconfig.json
Due: prettier --write, secretlint

style: apply dark-theme
  src/styles/style.css
Due: stylelint --fix, secretlint

chore: replace dayjs to light-date to lighter
  package-lock.json
  package.json
  src/utils/date.ts
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: use alternative pkg prettier plugin
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: add import organize prettier plugin
  package-lock.json
  package.json
  src/components/posts.tsx
  src/components/social.tsx
  src/components/totem.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint
