Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, yarn lint, prettier --write

.lintstagedrc.json:

{
  "package.json": ["prettier-package-json --write"],
  "*.{js,ts,tsx}": ["yarn lint"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"]
}

chore(config): fix js lint-staged
  .lintstagedrc.json
Due: prettier --write

chore(docs): update 2020
  README.md
  public/sitemap.xml
Due: prettier --write

chore(ci): update cache key checkout
  .github/workflows/check-to-merge.yml
Due: prettier --write

chore(ci): fix error yarn cache restore
  .github/workflows/check-to-merge.yml
Due: prettier --write

chore(ci): bump prefix cache version
  .github/workflows/check-to-merge.yml
Due: prettier --write

chore(ci): cleanup actions env-vars
  .github/workflows/check-to-merge.yml
Due: prettier --write

chore(ci): update actions env-vars
  .github/workflows/check-to-merge.yml
  .github/workflows/cron-production.yml
  .github/workflows/master-health-check.yml
Due: prettier --write

feat(license): add LICENSE file
  LICENSE
Due: none

chore(config): fix js lint-staged run
  .lintstagedrc.json
Due: prettier --write

chore(config): apply react strict mode over nextjs
  next.config.js
  src/pages/_app.tsx
Due: yarn lint

chore(config): remove tsc in lint-staged for error
  .lintstagedrc.json
Due: prettier --write

chore(config): add engines specify to now deploy
  package.json
Due: prettier-package-json --write, prettier --write

chore(ci): re-add discord notify action
  .github/workflows/check-to-merge.yml
Due: prettier --write

fix(ci): fix env-vars error with discord action
  .github/workflows/check-to-merge.yml
Due: prettier --write

fix(ci): fix env-vars syntax error with discord action
  .github/workflows/check-to-merge.yml
Due: prettier --write

chore(ci): remove discord notify action
  .github/workflows/check-to-merge.yml
Due: prettier --write

chore(app): extract props in render
  src/pages/_app.tsx
Due: yarn lint

refactor(config): remove unnecessary nextjs config plugins
  next.config.js
  package.json
  yarn.lock
Due: prettier-package-json --write, yarn lint, prettier --write

fix(style): broken body margin fix
  src/components/templates/global-style.tsx
Due: yarn lint

feat(ci): add to remove now expired deployment
  .github/workflows/cron-remove.yml
Due: prettier --write

chore(ci): fix expand env-vars context
  .github/workflows/compress-image.yml
  .github/workflows/deploy-production.yml
  .github/workflows/merge-check.yml
  .github/workflows/remove-deployment.yml
  .github/workflows/watch-master.yml
Due: prettier --write

chore(deps-lock): lockfile maintenance
  yarn.lock
Due: none

chore(app): add page title
  src/pages/index.tsx
Due: yarn lint

chore(ci): add required body with commit-comment action
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): modify test if context
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): modify comment if context
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): fix extract syntax
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): change action for comment on PR
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): check exist build-result file
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): run build always
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): re-activate build-result comment
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): cleanup actions
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): currently gave up VRT on CI
  .github/workflows/merge-check.yml
  e2e/index.ts
Due: yarn lint, prettier --write

chore(test): disable background bubble animation
  e2e/__image_snapshots__/local-snap.png
  e2e/index.ts
  src/components/global-style.tsx
  src/components/page-particles.tsx
Due: yarn lint

chore(ci): remove compress image action
  .github/workflows/compress-image.yml
Due: prettier --write

chore(ci): comment deploy preview only opened
  .github/workflows/merge-check.yml
Due: prettier --write

chore(ci): actions cleaning and update (#545)
  .github/workflows/compress-image.yml
  .github/workflows/merge-check.yml
  e2e/__image_snapshots__/local-snap.png
  e2e/index.ts
  src/components/global-style.tsx
  src/components/page-particles.tsx
  src/pages/index.tsx
Due: yarn lint, prettier --write

chore(test): test condition split change
  e2e/index.ts
  src/components/page-particles.tsx
Due: yarn lint
