Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: remove useless settings
  tsconfig.json
Due: prettier --write, secretlint

ci: use .node-version on setup-node
  .github/workflows/deploy.yml
Due: prettier --write, secretlint

chore(deps): lock file maintenance
  package-lock.json
Due: prettier --write, secretlint

fix(deps): update dependency hono to v0.5.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix: type annotation
  src/routes/apple-touch-icon.png.ts
  src/routes/avatar.png.ts
  src/routes/favicon.ico.ts
  src/routes/icon192.png.ts
  src/routes/icon512.png.ts
  src/routes/index.tsx
  src/routes/robots.txt.ts
  src/routes/site.webmanifest.ts
  src/routes/style.css.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependencies (non-major)
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update actions/checkout action to v3
  .github/workflows/check.yml
  .github/workflows/deploy.yml
Due: prettier --write, secretlint

chore: update renovate config
  .github/renovate.json
Due: prettier --write, secretlint

chore(deps): update dependency prettier-plugin-packagejson to v2.2.16
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: modify renovate config
  .github/renovate.json
Due: prettier --write, secretlint

fix(deps): update dependency hono to v0.5.4
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update non-major-dev-dependencies
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependency hono to v0.5.5
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update node.js to v16.14.2
  .node-version
Due: secretlint

chore(deps): update npm-non-major-dev-dependencies
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency esbuild to v0.14.28
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependency hono to v0.5.6
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependency hono to v0.5.7
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency esbuild to v0.14.29
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependency hono to v0.5.8
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: (any of: *.{js,ts,tsx}) or (any of: *.{js,ts,tsx,css,scss})
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
  secretlint: any of: *
