Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore(deps): lock file maintenance
  package-lock.json
Due: prettier --write, secretlint

chore(deps): update dependency @cloudflare/workers-types to v3.9.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @cloudflare/workers-types to v3.10.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency prettier-plugin-packagejson to v2.2.18
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency esbuild to v0.14.39
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependency hono to v1.2.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update cloudflare/wrangler-action action to v2
  .github/workflows/deploy.yml
Due: prettier --write, secretlint

feat: pure html dist
  .github/renovate.json
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  .gitignore
  .node-version
  .prettierignore
  .vscode/settings.json
  dist/apple-touch-icon.png
  dist/avatar.png
  dist/favicon.ico
  dist/icon192.png
  dist/icon512.png
  dist/index.html
  dist/robots.txt
  dist/site.webmanifest
  dist/style.css
  package-lock.json
  package.json
  script/build.js
  src/ambient.d.ts
  src/public/public.d.ts
  src/routes/apple-touch-icon.png.ts
  src/routes/avatar.png.ts
  src/routes/favicon.ico.ts
  src/routes/icon192.png.ts
  src/routes/icon512.png.ts
  src/routes/robots.txt.ts
  src/routes/site.webmanifest.ts
  src/routes/style.css.ts
  src/worker.ts
  tsconfig.json
  wrangler.toml
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

ci: modify npm cache in github action
  .github/workflows/check.yml
Due: prettier --write, secretlint

ci: add stability option
  .github/renovate.json
Due: prettier --write, secretlint

ci: fix cache npm ci
  .github/workflows/check.yml
Due: prettier --write, secretlint

ci: renovate run at earlyMondays
  .github/renovate.json
Due: prettier --write, secretlint

chore: update wrangler
  .github/renovate.json
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: use my default renovate preset
  .github/renovate.json
Due: prettier --write, secretlint

ci: read from .node-version
  .github/workflows/check.yml
Due: prettier --write, secretlint

chore: bump node version
  .node-version
Due: secretlint

chore: dist to static
  static/apple-touch-icon.png
  static/avatar.png
  static/favicon.ico
  static/icon192.png
  static/icon512.png
  static/index.html
  static/robots.txt
  static/site.webmanifest
  static/style.css
Due: stylelint --fix, secretlint

chore: remove wrangler toml
  wrangler.toml
Due: secretlint

chore: modify script target dir
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: (any of: *.{js,ts,tsx}) or (any of: *.{js,ts,tsx,css,scss})
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
  secretlint: any of: *
