Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore(deps): update dependency @types/node to v14.0.13
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/react to v16.9.36
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency lint-staged to v10.2.10
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update all patch dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency stylelint to v13.6.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency eslint to v7.3.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update all major dependencies to v9
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

feat: replace local markdown to microcms api
  .editorconfig
  .env.sample
  .gitignore
  .vercelignore
  next-env.d.ts
  next.config.js
  package.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/styles/reset.css
  src/styles/style.css
  src/utils/get-posts.ts
  src/utils/get-slug.ts
  tsconfig.json
  yarn.lock
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

fix: build step need api-key
  .github/workflows/check-pull-request.yml
  .github/workflows/deploy-production.yml
Due: prettier --write, secretlint

feat: add dayjs for date-time utility
  package.json
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/utils/date.ts
  yarn.lock
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: modify lint-staged target files
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

fix: api-key env-vars need on deploy step
  .github/workflows/check-pull-request.yml
  .github/workflows/deploy-production.yml
Due: prettier --write, secretlint

fix: modify env-vars apply by deploy parameters
  .github/workflows/check-pull-request.yml
Due: prettier --write, secretlint

chore(deps): update dependency sass to v1.26.9
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency eslint to v7.3.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: remove useless contents directory
  contents/hello-world.md
Due: prettier --write, secretlint

chore: add build-env for production deploy step
  .github/workflows/deploy-production.yml
Due: prettier --write, secretlint

chore(deps): update all major dependencies to v9 (major)
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: replace yarn to npm
  package-lock.json
  yarn.lock
Due: prettier --write, secretlint

chore: update icons
  .github/resources/icon.png
  .github/resources/icon.svg
  README.md
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/assets/icon-128x128.png
  public/assets/icon-144x144.png
  public/assets/icon-152x152.png
  public/assets/icon-180x180.png
  public/assets/icon-192x192.png
  public/assets/icon-384x384.png
  public/assets/icon-512x512.png
  public/assets/icon-72x72.png
  public/assets/icon-96x96.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/manifest.webmanifest
  public/site.webmanifest
  src/pages/_document.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: replace from renovate to dependabot
  .github/dependabot.yml
  .github/renovate.json
Due: prettier --write, secretlint

chore: replace from yarn to npm command in gha steps
  .github/workflows/check-pull-request.yml
  .github/workflows/deploy-production.yml
  .github/workflows/healthcheck-master.yml
  .vscode/settings.json
Due: prettier --write, secretlint

chore(deps): add renovate.json
  renovate.json
Due: prettier --write, secretlint

chore: update vercel ignore files
  .vercelignore
Due: secretlint

feat: add preview mode with microcms
  src/pages/api/clear.ts
  src/pages/api/preview.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: add custom 404 page
  src/pages/404.tsx
  src/styles/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: remove useless api fields
  src/pages/api/preview.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: reset/update github actions and deploy flow
  .github/resources/icon.png
  .github/workflows/check-pull-request.yml
  .github/workflows/deploy-production.yml
  .github/workflows/healthcheck-master.yml
  .github/workflows/remove-stale-deployment.yml
  README.md
Due: prettier --write, secretlint

chore: replace now to vercel command
  .github/workflows/check-pull-request.yml
  .github/workflows/healthcheck-master.yml
  .github/workflows/remove-stale-deployment.yml
  .gitignore
Due: prettier --write, secretlint

chore: add preview props
  src/pages/api/preview.ts
  src/pages/index.tsx
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: remove preview props for resolve error
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: add preview mode
  src/pages/post/[slug].tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: (any of: *.{js,ts,tsx}) or (any of: *.{js,ts,tsx,css,scss})
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
  secretlint: any of: *
