Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write

chore(test): fix diff file indentifier and timing
  .gitignore
  e2e/__image_snapshots__/vrt-snap.png
  e2e/index.ts
Due: eslint --fix, stylelint --fix, tsc --noEmit

chore(ci): activate vrt in merge-check action
  .github/workflows/merge-check.yml
Due: prettier --write

chore: comment-out VRT in github action due to not working
  .github/workflows/merge-check.yml
Due: prettier --write

chore(lint): apply ymkz/eslint-config included test env
  .eslintrc.yml
Due: prettier --write

chore(deps): remove npm-run-all for less usage
  .github/workflows/merge-check.yml
  .github/workflows/watch-master.yml
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(ci): add dump env-vars
  .github/workflows/deploy-production.yml
  .github/workflows/remove-deployment.yml
  .github/workflows/watch-master.yml
Due: prettier --write

chore(ci): remove remove-deployment action for more safety
  .github/workflows/remove-deployment.yml
Due: prettier --write

chore(lint): stylelint extends as array
  .stylelintrc.yml
Due: prettier --write

chore(now): update now cli confir and now dirs
  .github/workflows/deploy-production.yml
  .github/workflows/merge-check.yml
  .gitignore
Due: prettier --write

chore(ci): remove unexpected confirm option with alias
  .github/workflows/merge-check.yml
Due: prettier --write

chore(deps-dev): bump @ymkz/eslint-config from 1.2.0 to 1.3.0
  .eslintrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore: add ignore now directories
  .gitignore
Due: none

feat(seo): add valid robots.txt
  package.json
  preact.config.js
  public/robots.txt
  yarn.lock
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write

chore(a11y): modify ul > li only tag
  src/components/icon-facebook.tsx
  src/components/icon-github.tsx
  src/components/icon-linkedin.tsx
  src/components/icon-twitter.tsx
  src/components/link-badge.tsx
  src/components/link-extern.tsx
  src/components/social.tsx
  src/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit

chore(readme): add audits image
  README.md
  resource/audits.png
Due: prettier --write

chore(deps): update dependency secretlint to ^0.8.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency stylelint to ^13.2.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore: add peer-deps webpack
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency preact-cli to ^3.0.0-rc.10
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to ^0.7.3
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency secretlint to ^0.8.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

fix(deps): update dependency preact to ^10.3.4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore: modify container padding style
  src/index.tsx
  src/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit

chore: change title font-weight to 800
  src/components/profile.tsx
  src/style.css
  src/template.html
Due: eslint --fix, stylelint --fix, tsc --noEmit

chore(deps): update dependency @ymkz/eslint-config to v1.4.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore: remove unused babel config and add alias to preact config
  babel.config.js
  preact.config.js
  size-plugin.json
Due: eslint --fix, stylelint --fix, tsc --noEmit, prettier --write

chore: split zero padding class
  src/components/social.tsx
  src/style.css
Due: eslint --fix, stylelint --fix, tsc --noEmit

chore: remove noscript tag due to prerender
  src/template.html
Due: none

chore: fix my education sentence
  src/components/education.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to ^0.9.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

chore(deps): update dependency secretlint to ^0.9.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: any of: *.{js,ts,tsx}
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
