Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore(deps): update dependency lint-staged to ^10.1.7
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency prettier to ^2.0.5
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency onchange to ^6.1.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

feat: update more simplify
  .eslintrc.yml
  package.json
  public/static/background-mobile.jpg
  public/static/background.jpg
  src/components/icon-facebook.tsx
  src/components/icon-github.tsx
  src/components/icon-linkedin.tsx
  src/components/icon-twitter.tsx
  src/components/icon-wind.tsx
  src/pages/index.tsx
  src/styles/index.css
  src/styles/index.module.scss
  src/styles/index.module.scss.d.ts
  yarn.lock
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: deploy production only sunday
  .github/workflows/deploy-production.yml
Due: prettier --write, secretlint

chore(deps): update dependency @types/node to ^13.13.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): lock file maintenance
  yarn.lock
Due: secretlint

chore: remove unused package
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/node to ^13.13.4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update node.js to v12.16.3
  .node-version
Due: secretlint

fix(deps): update dependency next to ^9.3.6
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency lint-staged to ^10.2.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @secretlint/secretlint-rule-preset-recommend to v2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency secretlint to v2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

feat: add next-seo module
  package.json
  src/pages/_app.tsx
  yarn.lock
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: remove scroll lock style
  src/styles/index.css
Due: stylelint --fix, secretlint

feat: add github-notifier to slack
  .github/workflows/github-notifier.yml
Due: prettier --write, secretlint

chore: fix env/dump action
  .github/workflows/github-notifier.yml
Due: prettier --write, secretlint

chore: fix checkout actions version
  .github/workflows/github-notifier.yml
Due: prettier --write, secretlint

feat: add lighthouse metric checker
  .github/workflows/metric-production.yml
Due: prettier --write, secretlint

chore: move resource directory in .github
  .github/resources/icon.svg
  .nowignore
  README.md
Due: prettier --write, secretlint

chore(deps): update dependency lint-staged to ^10.2.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/node to ^13.13.5
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @ymkz/eslint-config to ^1.5.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/react to ^16.9.35
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependency next to ^9.4.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

feat: initial implement blog page
  next-env.d.ts
  next.config.js
  package.json
  src/contents/hello-world.md
  src/pages/blog.tsx
  src/pages/post/[slug].tsx
  src/utils/get-posts.ts
  src/utils/get-slug.ts
  yarn.lock
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore(deps): update dependency typescript to ^3.9.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: replace gray-matter due to maintenance
  package.json
  src/contents/hello-world.md
  src/pages/post/[slug].tsx
  src/utils/get-posts.ts
  yarn.lock
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: (any of: *.{js,ts,tsx}) or (any of: *.{js,ts,tsx,css,scss})
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
  secretlint: any of: *
