Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore(deps): update dev-dependencies (non-major)
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: add css order with prettier formatting
  package-lock.json
  package.json
  src/styles/global.css
Due: prettier-package-json --write, stylelint --fix, prettier --write, secretlint

chore(deps): update dependency @types/react to v17.0.31
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): lock file maintenance
  package-lock.json
Due: prettier --write, secretlint

chore(deps): update dependency npm to v8
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/react to v17.0.33
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update node.js to v16.13.0
  .node-version
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: modify node/npm version
  .node-version
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/react to v17.0.34
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update node.js to v16.13.1
  .node-version
Due: secretlint

chore(deps): update actions/setup-node action to v2.5.0
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

chore(deps): update nextjs monorepo to v12
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): upgrade next12
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore(deps): upgrade dev dependencies
  .eslintignore
  .gitignore
  .prettierignore
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: upgrade node lts
  .node-version
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: update modern css reset
  src/styles/global.css
Due: stylelint --fix, secretlint

style: modify line-height
  src/styles/global.css
Due: stylelint --fix, secretlint

chore(deps): update dependency typescript to v4.5.4
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update actions/setup-node action to v2.5.1
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write, secretlint

chore(deps): update dependency eslint to v8.6.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: (any of: *.{js,ts,tsx}) or (any of: *.{js,ts,tsx,css,scss})
  tsc --noEmit: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.json) or (any of: *.yml)) or (any of: *.md)
  secretlint: any of: *
