Repository ymkz/ymkz.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

.lintstagedrc.json:

{
  "package.json": ["prettier-package-json --write"],
  "*.{js,ts,tsx}": ["eslint --fix", "stylelint --fix", "tsc --noEmit"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"]
}

.lintstagedrc.yml:

'package.json':
  - prettier-package-json --write
'*.{js,ts,tsx}':
  - eslint --fix
'*.{js,ts,tsx,css,scss}':
  - stylelint --fix
'*.json':
  - prettier --write
'*.yml':
  - prettier --write
'*.md':
  - prettier --write
'*':
  - secretlint

chore(deps): update dependency @types/node to ^13.13.6
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency typescript to ^3.9.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: replace articles under /blog
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

chore: move to dev-deps for only need build phase
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: rename site title for sns
  src/pages/_app.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

feat: ready to display posts
  next-env.d.ts
  src/contents/hello-world.md
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/styles/index.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

fix: ul-tag postion move to out of map
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

fix(deps): update dependency next to ^9.4.1
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: add vercel dir to ignore
  .gitignore
Due: secretlint

chore(deps): update dependency stylelint to ^13.4.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: fix post style in index page
  src/pages/index.tsx
  src/styles/index.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, secretlint

fix(deps): update dependency next-seo to ^4.5.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency lint-staged to ^10.2.4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency stylelint to ^13.5.0
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency eslint to v7
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/node to ^13.13.8
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency typescript to ^3.9.3
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

fix(deps): update dependency next to ^9.4.2
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: rename now to vercel
  .vercelignore
Due: secretlint

chore: test update github action
  .github/workflows/deploy-production.yml
  .github/workflows/merge-check.yml
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore: fix gha config
  .github/workflows/deploy-production.yml
  .github/workflows/merge-check.yml
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency @types/node to ^13.13.9
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

fix: node engines for vercel deploy
  package.json
Due: prettier-package-json --write, prettier --write, secretlint

chore(deps): update dependency front-matter to v4
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write, secretlint

chore: replace content directory on root of project
  contents/hello-world.md
  src/pages/index.tsx
  src/pages/post/[slug].tsx
  src/styles/index.css
Due: eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

chore: install and replace with sass
  package.json
  src/pages/_app.tsx
  src/styles/index.scss
  yarn.lock
Due: prettier-package-json --write, eslint --fix, stylelint --fix, tsc --noEmit, prettier --write, secretlint

ci: clarify gha filename
  .github/workflows/check-pull-request.yml
  .github/workflows/deploy-master-to-production.yml
  .github/workflows/deploy-production.yml
  .github/workflows/health-check-master.yml
  .github/workflows/metric-production.yml
  src/styles/index.scss
Due: stylelint --fix, prettier --write, secretlint

chore: fix gha node version
  .github/workflows/health-check-master.yml
Due: prettier --write, secretlint

chore: fix node-version set
  .github/workflows/check-pull-request.yml
  .github/workflows/deploy-master-to-production.yml
  .github/workflows/health-check-master.yml
Due: prettier --write, secretlint

chore: remove unused syntax to node-version
  .github/workflows/check-pull-request.yml
  .github/workflows/deploy-master-to-production.yml
  .github/workflows/health-check-master.yml
Due: prettier --write, secretlint
